{% extends 'base.html' %}

{% block title %} Book list page {% endblock %}

{% block content %}

<div class="row">
    <div class="col-4">
        <form class="d-flex mb-3" method="get">
            <input class="form-control me-3" type="text" placeholder="search" name="q" value="{{search}}">
            <button class="btn btn-success"> Search </button>
        </form>
    </div>
</div>
    {% if page %}
        {% for i in page.object_list %}
            <div class="row mb-4">
                <div class="col-2">
                    <img style="width:180px;" src="{{ i.picture.url }}">
                </div>
                <div class="col">
                    <a href="{% url 'bookdetail' i.id %}"> {{ i.title }} </a>
                    <p>{{ i.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> Kitoblar topilmadi </p>
    {% endif %}


    <nav aria-label="Page navigation example">
      <ul class="pagination">

          {% if page.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% url 'booklist' %}?bet={{page.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="{% url 'booklist' %}?bet={{page.previous_page_number}}">{{ page.previous_page_number }}</a></li>
          {% endif %}

        <li class="page-item"><a class="page-link active" href="#">{{ page.number }}</a></li>

          {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'booklist' %}?bet={{page.next_page_number}}">{{ page.next_page_number }}</a></li>
            <li class="page-item">
              <a class="page-link" href="{% url 'booklist' %}?bet={{page.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}

      </ul>
    </nav>


{% endblock %}